/* DROPDOWN MACROS */
.dropdown-with-scroll {
  --dropdown-max-height: 30rem;
}

.dropdown-with-scroll .vlDropdownMenu {
  @apply overflow-y-auto mini-scroll;
  max-height: var(--dropdown-max-height) !important;
}

/* SELECTS MACROS */
.select-over-modal {
  --select-translate: 0px;
  --select-width: 200px;
}

.select-over-modal .vlOptions {
  position: fixed;
  left: auto !important;
  width: auto !important;
  top: 0px;
  transform: translateY(var(--select-translate)) !important;
  width: var(--select-width) !important;
}
