@use "./IntroJs";

/* DROPDOWN MACROS */
.dropdown-with-scroll {
  --dropdown-max-height: 30rem;
}

.mini-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

.dropdown-with-scroll .vlDropdownMenu {
  @apply overflow-y-auto mini-scroll;
  max-height: var(--dropdown-max-height) !important;
}

/* SELECTS MACROS */
.select-over-modal {
  --select-translate: 0px;
  --select-width: 200px;
}

.select-over-modal .vlOptions {
  position: fixed;
  left: auto !important;
  width: auto !important;
  top: 0px;
  transform: translateY(var(--select-translate)) !important;
  width: var(--select-width) !important;
}

// PANEL LOADING
.vlPanelLoading {
  position: relative;
}

.vlPanelLoading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vlPanelLoading::before {
  content: "";
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid var(--primary);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 0.55s linear infinite;
  position: absolute;
  z-index: 1001;
  /* Ensure the spinner is above the overlay */

  top: 45px;
  left: calc(50% - 17.5px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// TABLES
.TableWithoutRowsBorders {
  &>.vlTable {
    thead {
      border-bottom: 1px solid var(--table-border-color);
    }

    td {
      border: none !important;
    }
  }
}

.balloon-patch::after {
  opacity: 0 !important;
  transition: opacity 0s !important;
}